<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main class="content" th:fragment="product">
    <div class="container-fluid p-0">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Demo Product Table</h3>
                <nav class="navbar navbar-expand-lg bg-light">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">
                            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addModal">+ Add new Product</button>
                        </a>
                        <form class="d-flex" role="search">
                            <input class="form-control me-2 fst-italic" type="search"
                                   placeholder="Enter product's name... "
                                   aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </nav>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped text-center">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Description</th>
                        <th>Created Date</th>
                        <th>Price</th>
                        <th>Status</th>
                        <th>Category</th>
                        <th colspan="2">Action</th>
                    </tr>
                    </thead>
                    <tbody id="products">


                    </tbody>

                </table>
            </div>
            <!-- /.card-body -->
            <nav aria-label="Page navigation example ">
                <ul class="pagination float-end mx-4">
                    <li class="page-item disabled">
                        <a class="page-link">Previous</a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</main>
</body>
</html>