<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<main class="content" th:fragment="catalog-edit(cat)">
  <div class="container-fluid p-0">
    <div class="card">
      <h1 class="text-center mt-3">Chỉnh sửa danh mục</h1>
      <form action="/catalog/update" th:object="${cat}" method="post" style="max-width: 30rem; margin: 0 auto" class="p-4 mt-5">
        <div class="mb-3">
          <label for="id" class="form-label">Category ID</label>
          <input type="text"  th:field="*{id}" readonly class="form-control" >
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">Category Name</label>
          <input type="text"  th:field="*{name}" class="form-control" >
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Descriptions</label>
          <textarea class="form-control" th:field="*{description}"  rows="3"></textarea>
        </div>
        <button class="btn btn-success" type="submit">Update</button>
      </form>
    </div>
  </div>
</main>
</body>
</html>